<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
    android:versionCode="8" 
    android:versionName="1.3.1" 
    package="com.cettco.buycar">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA">
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">
    </uses-permission>
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:name="com.cettco.buycar.utils.MyApplication" android:theme="@style/DefaultStyle">
        <meta-data android:name="com.baidu.lbsapi.API_KEY" android:value="e9OqHPz7X7PwaFwIAqA2rSf6"/>

        <activity android:label="@string/app_name" android:name="com.cettco.buycar.activity.SplashActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.alipay.android.app.sdk.WapPayActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.cettco.buycar.activity.SelectCityActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.CarListActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.CarDetailActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.SignInActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.SignUpActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.FindPwdActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.SelectCarTypeActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.StartBargainActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.MyBaseListActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.SelectCarColorActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.MyOrderStatusActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.BargainActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.SelectColorActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.DealerDetailActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.AgreementActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.CancleReasonActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.DealerMapActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.DealersListActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.MainActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.IntroductionActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="com.cettco.buycar.activity.MipcaActivityCapture">
        </activity>
        <activity android:name="com.cettco.buycar.activity.SelectDealerActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.DealerCommentActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.OrderWaitingActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.OrderHasDealerActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.AliPayActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.AddCommentActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.AlipayWebActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.OrderDetailActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.BargainPriceActivity">
        </activity>
        <activity android:name="com.cettco.buycar.activity.CouponActivity">
        </activity>
        
        <activity android:name=".activity.WebActivity" >
         </activity>
         <activity android:name="activity.MyCreditActivity" >
         </activity>
         <activity android:name=".activity.FeedBackActivity" >
         </activity>

        <service android:enabled="true" android:name="com.cettco.buycar.service.UpdateService">
        </service>
        <service android:enabled="true" android:name="com.baidu.location.f" android:process=":remote">
        </service>

        <receiver android:name=".receiver.CheckUpdateReceiver">
            <intent-filter>
                <action android:name="com.cettco.buycar.checkupdate">
                </action>
            </intent-filter>
        </receiver>

        <!-- push富媒体结束 -->


        <!-- push应用定义消息receiver声明 -->
        <receiver android:name="com.cettco.buycar.receiver.MyPushMessageReceiver">
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE"/>
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE"/>
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK"/>
            </intent-filter>
        </receiver>

        <!-- push必须的receviver和service声明 -->
        <receiver android:name="com.baidu.android.pushservice.PushServiceReceiver" android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW"/>
                <action android:name="com.baidu.android.pushservice.action.media.CLICK"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.baidu.android.pushservice.RegistrationReceiver" android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD"/>
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <service android:exported="true" android:name="com.baidu.android.pushservice.PushService" android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE"/>
            </intent-filter>
        </service>
        <!-- push结束 -->


        <!-- 在百度开发者中心查询应用的API Key -->
        <meta-data android:name="api_key" android:value="P3PaK4AeUtAlx2yX1yVkYuyo"/>

        <service android:exported="false" android:name=".service.RegisterBaiduId"/>

        <activity android:configChanges="orientation|keyboardHidden|navigation" android:exported="false" android:name="com.alipay.sdk.app.H5PayActivity" android:screenOrientation="behind">
        </activity>
        <activity android:configChanges="orientation|keyboardHidden|navigation" android:exported="false" android:name="com.alipay.sdk.auth.AuthActivity" android:screenOrientation="behind">
        </activity>
        
        <!-- ###################注册SDK使用的Activity###################### -->
        <!--分享编辑页-->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID-->
                <data android:scheme="tencent100424468" /> 
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>



    <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="54a2ae9cfd98c51987000505" >
        </meta-data>
        <meta-data android:value="Wandoujia" android:name="UMENG_CHANNEL"/>
</application>

</manifest>
