<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cettco.buycar"
    android:versionCode="1"
    android:versionName="1.2.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:name="com.cettco.buycar.utils.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DefaultStyle" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="e9OqHPz7X7PwaFwIAqA2rSf6" />

        <activity
            android:name="com.cettco.buycar.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alipay.android.app.sdk.WapPayActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.SelectCityActivity" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.CarListActivity" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.CarDetailActivity" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.SignInActivity" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.SignUpActivity" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.FindPwdActivity" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.SelectCarTypeActivity" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.StartBargainActivity" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.MyBaseListActivity" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.SelectCarColorActivity" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.MyOrderStatusActivity" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.BargainActivity" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.SelectColorActivity" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.DealerDetailActivity" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.AgreementActivity" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.CancleReasonActivity" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.DealerMapActivity" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.DealersListActivity" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.MainActivity" >
        </activity>
        <activity
            android:name="com.cettco.buycar.activity.IntroductionActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.MipcaActivityCapture" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.SelectDealerActivity" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.DealerCommentActivity" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.OrderWaitingActivity" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.OrderHasDealerActivity" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.AliPayActivity" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.AddCommentActivity" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.AlipayWebActivity" >
        </activity>
        <activity android:name="com.cettco.buycar.activity.OrderDetailActivity" >
        </activity>

        <service
            android:name="com.cettco.buycar.service.UpdateService"
            android:enabled="true" >
        </service>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <receiver android:name=".receiver.CheckUpdateReceiver" >
            <intent-filter>
                <action android:name="com.cettco.buycar.checkupdate" >
                </action>
            </intent-filter>
        </receiver>

        <!-- push富媒体结束 -->


        <!-- push应用定义消息receiver声明 -->
        <receiver android:name="com.cettco.buycar.receiver.MyPushMessageReceiver" >
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>

        <!-- push必须的receviver和service声明 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        <!-- push结束 -->


        <!-- 在百度开发者中心查询应用的API Key -->
        <meta-data
            android:name="api_key"
            android:value="P3PaK4AeUtAlx2yX1yVkYuyo" />

        <service
            android:name=".service.RegisterBaiduId"
            android:exported="false" />

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
    </application>

</manifest>